@font-face
{
    font-family: 'BethEllen';
    src: url('../fonts/beth-ellen/BethEllen.otf');
}
@font-face
{
    font-family: 'bodedo';
    src: url('../fonts/hvd-bodedo/HVD_Bodedo.ttf');
}
body
{
    background-color: rgb(238, 238, 238);
    font-family: 'Comic Sans MS';
}
header
{
    height: 450px;
    width: 100%;
    margin-top: 40px;
    float: none !important;;
    font-family: 'BethEllen', impact;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1
{
    font-size: 3.2em;
    color: rgb(230, 230, 230); 
    z-index: 1;
    text-align: center;
}
#background
{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
}
#bouton
{
    font-size: xx-large;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.meta
{
    height : 150px;
    background-color: lightgrey;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.meta ul
{
    list-style-type: none;
    font-family: bodedo;
}
ul a
{
    text-decoration: none; 
    color: black;
}
.meta li
{
    margin: 5px 0;
}

.title
{
    background-color: #337ab7;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.title a
{
    color: white;
}
.posts em
{
    color: #337ab7;
    font-weight: bold;
}
.posts p
{
    text-align: justify;
}
.line
{
    width: 20%;
    height: 5px;
    border-bottom: lightgray 1px solid;
    margin-bottom: 10px;
}
.mce-widget
{
    display: none;
}

/**!! 

FORMULAIRES 

!!**/
input
{
    margin-top: 5px;
}
.submit, button
{
    border-radius: 15px;
    font-weight: bold;
    color: white; 
    padding: 8px;
    border: 0px;
    background-color:#1E90FF;
}
#authentification, #createaccount{
    background: lightgray;
    float: none !important;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**!! 

ADMIN 

!!**/
h2
{
    text-align: center;
    font-size: 2.8em;
}
.post h3
{
    text-align: center;
}
.deco:before
{
	content: ' ';
	display: inline-block;
	border-bottom: 1px rgb(180, 180, 180) solid;
	width: 60px;
	position: relative;
	top: -8px;
	left: -63px;
	z-index: 1;
}
.deco
{
	border: 4px  white solid;
	background-color: rgb(92, 173, 211);
	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin: auto;
	margin-bottom: 10px;
	z-index: 2;
	position: relative;
	top: -10px;
}
.deco:after
{
	content: ' ';
	display: inline-block;
	border-bottom: 1px rgb(180, 180, 180) solid;
	width: 60px;
	position: relative;
	top: -29px;
	right: -16px;
	z-index: 1;
}	
#button
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.editor
{
    display: flex; 
    justify-content: center;
}

/** 

!!
    PAGE DES COMMENTAIRES
!!
**/
.posts, .comments, .commentarea
{
    max-width: 95%;
    margin: auto;
    margin: 15px;
}
.comment{
    margin-bottom: 15px;
    border-bottom: 1px silver solid;
}

/** 

!!
    MEDIA QUERRIES
!!
**/
@media all and (max-device-width: 480px) and (orientation: portrait)
{
    header h1
    {
        font-size: 2em
    }
}
